{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
{%block body%} 

{% load static %}


<style>
    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 20%;
        left: 10%;
        transform: translate(-50%, -50%);
    }

    .btn1 {
        background-color: #04395e;
        color: #ffd51e;
        border: 2px solid #04395e;
        height: 40px;
        border-radius: 8px;
        
    }

    .btn1:hover {
        background-color: #36617E;
        color: white;
    }

    #womenspicture {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 70px;
    width: 100%;
    }


</style>


<div class="container-fluid">
    <img src="static/womens0.jpg" id="" alt="womens0" class="img-fluid" style="width:100%;">


    <div class="centered">
        <h4>This is cardi-otters</h4> 
        <form action="appointment">
            <input type="submit" class="btn1" value="Book an Appointment" />
        </form>
        <!-- <a href="https://calendly.com/moderncardio/testing?month=2021-06" class="btn1" style="text-decoration:none">Book an Appointment</a> -->
    </div>
</div>



<!-- Footer  -->

<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Cardi-Otters</a></li>
            <li class="list-inline-item"><a href="about_us">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Cardi-Otters © 2018</p>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

<!-- Footer  -->





{%endblock body%}
{% endblock content %}